@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Honk&family=Orbitron:wght@400..900&family=Press+Start+2P&family=Rubik+Bubbles&display=swap');

body.game {
  background-image: url(/images/background.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: system-ui, sans-serif;
  text-align: center;
  padding: 180px;
}

body h1 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: white;
}

body h2 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: orange;
}

body p {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.part {
  display: none;
  width: 40px;
  margin: 5px auto;
}

body {
  font-family: Arial; text-align: center; padding: 0px;
}

.word { 
  font-size: 50px; letter-spacing: -3px; 
  color: rgb(0, 220, 255);
}
  
.wrong { 
  color: red; }

#volume-control {
  margin: -570px;
  display: flex;
  justify-content: space-between;
  color: white;
  margin-left: 0.3%;
  position: absolute;
  left: 87%;
}

#volumeRange {
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2px;
}

