@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Honk&family=Orbitron:wght@400..900&family=Press+Start+2P&family=Rubik+Bubbles&display=swap');


body {
    background-color: lightblue;
    font-family: "Honk", sans-serif;
    text-align: center;
    padding: 185px;
    font-size: 50px;
    display: flex;
    justify-content: space-evenly;
}

    a {
    font-family: system-ui, sans-serif;
    text-align: center;
    padding: 10px;
    color: black;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

body {
    background-image: url("../images/background2.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}