@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Honk&family=Orbitron:wght@400..900&family=Press+Start+2P&family=Rubik+Bubbles&display=swap');

body {
    background-color: lightblue;
    font-family: system-ui, sans-serif;
    text-align: center;
    padding: 250px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

button {
    width: 8%;
    position: relative;
    left: 46%;
}